@import "./partials/mixins";
@import "./partials/params";
@import "./reset.scss";
@import "./button.scss";
@import "./menu.scss";
@import "./card.scss";
@import "./section.scss";
@import "./form.scss";

@include load-google-font("Montserrat");

html, body {
  font-family: "Montserrat";
}

@each $name, $value in $sizes {
  .width-#{$name} {
    width: $value;
  }
}

.border {
  border: 1px solid $borderColor;
}
.no-border {
  border: none;
}